* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #083b4c;
}

main {
    padding: 30px 15px;
}

#data-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 45px;
}

label {
    color: #ffffff;
    font-size: 30px;
}

input {
    text-align: center;
    width: 90px;
    padding: 15px;
}

button {
    display: inline-block;
}





#item-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 80px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-blue {
    background-color: #1389b2;
}

.bg-red {
    background-color: #f0466f;
}

.bg-yellow {
    background-color: #ffd166;
}

.bg-green {
    background-color: #0bd6a0;
}